<section class="memberside">
    <table class="memberinfotable">
        <th>
            회원 정보
        </th>
        <tr>
            <td><a href="/registerpage">회원가입</a></td>
        </tr>
        <tr>
            <td><a href="/findidpage">아이디 찾기</a></td>
        </tr>
        <tr>
            <td><a href="/findpwpage">비밀번호 찾기</a></td>
        </tr>
        <tr>
            <td>휴면계정 해제</td>
        </tr>
    </table>

    <table class="memberinfotable">
        <th>
            고객센터
        </th>
        <tr>
            <td>고객문의</td>
        </tr>
        <tr>
            <td>광고안내</td>
        </tr>
        <tr>
            <td>제휴안내</td>
        </tr>
        <tr>
            <td>스크랩</td>
        </tr>
        <tr>
            <td>뉴스레터 신청</td>
        </tr>
        <tr>
            <td>기사 제보</td>
        </tr>
    </table>
</section>