/* 페이지 전체 (footer 포함) */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    width:100%;
}

.entire {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
    margin:0 auto;

    padding:0;
    margin:0;
}

.middle{
    display: flex;
    flex-direction: row;
    width:100%;
    align-items: start;
}
/* ---------------- */
.main {
    display: flex;
    flex-direction: row;
}

#footer img {
    display:block;
    width:1200px;
    height:auto;
    margin: 0 auto;
}

/* -----top 메뉴----- */
header {
    display: flex;
    flex-direction: column;

    justify-content:center;
    text-align:center;
    align-items: center;

    width:100%;
}

/* -----top1 메뉴----- */
#top1 {
    display : flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

#logo {
    margin: 0 auto;
}

#logmenu {
    right:0;
}

#logmenu a {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 44px;
    margin: 0 10px 0 10px;
}

/* -----top2 메뉴----- */
#top2 {
    color: #ccc;
    border-top : 1px solid;
    border-bottom : 1px solid ;
    width : 100%;
    text-align: center;
}

#top2 a {
    font-size: 16px;
    font-weight: 400;
    color: #000;

    align-items: center;
    line-height: 44px;
    margin: 0 10px 0 10px;
}

/*----- 검색 버튼 -----*/
.search {
    
    font-size: 16px;
    color: #000;
    font-weight: 400;

    margin: 0 10px 0 10px;
    align-items:center;
}

.search1, .search2, .search3 {
    float:left;
    height:44px;
    align-items:center;
}

/* ---------------- */

/* ----- 글쓰기 버튼 ----- */
#write {
    display:flex;

    justify-content: center;
    text-align:center;
}
/* ---------------- */

/* ----- 기사 목록 테이블 ----- */
.articles {
    text-align:center;
    border:1px solid #ccc ;
    border-collapse: collapse;
    width:1;
}

.articles tr:nth-child(2n) {
    border-bottom: 1px solid #ccc;
}

.articles a{
    display:block;
    text-align:left;
    cursor: pointer;
    text-decoration: none;
}

.firstimage {
    width:150px;
    height: auto;
}

.firstimage img {
    width:150px;
    height: auto;
    object-fit: cover; 
}

.textcontent {
    width:800px;
}

/* ---------------- */

/* 기사 쓰기 테이블 */
.writearticle {
    text-align:center;
    border:1px solid #ccc ;
    border-collapse: collapse;
    width:100%; 
}

.writearticle td {
    border: 1px solid #ccc;
}

.writearticle input[type="text"], 
.writearticle textarea {
    width: 100%; 
    box-sizing: border-box; 
}

.writearticle textarea {
    resize: none; 
    height: 200px; 
}

.writearticle textarea.bigcontent {
    resize: none; 
    height: 150px; 
}

.writearticle textarea.smallcontent {
    resize: none; 
    height: 400px; 
}

/* ---------------- */

/* ----- 몸통 ----- */
#bodycontainer {
    display:flex;
    flex: 1;
    width: 100%;
    text-align:center;
    justify-content: center;
}

.content {
    flex:8;

}

#leftad, #rightad {
    display:flex;
    flex:0 0 90px;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    height: 100vh;

    padding:0;
    margin:0;

}

#leftad img, #rightad img {
    display:flex;
    width:100%;
}
/* ---------------- */

/* article.html */
/*--- 제일 큰 그림 ---*/
.title {

    font-size: 2.5em;
    font-family: "Noto Sans KR", "Nanum Gothic";
    color: #000000;

    text-align: justify;
    display: block;
}

.articlecontainer {
    display:flex;
    flex-direction: row;
    width:100%;
}

.article {
    flex:8;
}
/* ---------------- */

/*--- 기사 오른쪽 사이드 ---*/
.articleside {
    flex:2;

    border:1px solid #ccc;
    padding:10px;
    margin:10px;
}

.sidearticle {
    width:100%;
    height:auto;
}

/* ---------------- */
.date{
    font-size: 1em;
    font-family: "Noto Sans KR", "Nanum Gothic";
    color: #8C8C8C;

    text-align: left;
    display:block;
    margin-bottom: 16px;
}

.articlead1{
    width:100%;
    height:auto;

    border:0;
    margin-bottom:10px
}

.articlead1 img {
    width: 100%;
    height: auto;
    display: block;
}

.bigcontent {
    font-size: 1.4em;
    font-family: "Noto Sans KR", "Nanum Gothic";
    font-weight: 400;
    color: #000000;

    text-align: justify;
}

.detailcontent {
    font-size: 18px;
    font-family: "Noto Sans KR", "Nanum Gothic";
    font-weight: 300;
    color: #333333;

    text-align: justify;
    line-height: 32px;
}

/* ----- 로그인 -----*/

.login {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.login table {
    border:1px solid #ccc; 
    border-collapse: collapse;
}

.login table td {
    width:400px; 
}

.logintable {
    display: flex; 
    background-color: #efefef; 
    border-radius: 10px; 
    padding:20px 20px 20px 20px; 
    margin:20px 20px 20px 20px; 
    border:1px solid #ccc;
}

/* ---------------- */

/* ----- 회원가입 -----*/
.register {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height:70vh;
}

.registertable { 
    border:1px solid #ccc;
    background-color:#eee;
    align-items: left;
}
/* ---------------- */

/*--- 회원 정보 메뉴 ---*/
.customer_container {
    display:flex;

}

.memberinfotable {
    border : 1px solid #ccc;
    margin : 0 0 20px 0;

    width : 180px;

    font-family: "Noto Sans KR";
}

.memberinfotable th {

    background-color: #103583;

    font-size:21px;
    font-weight: normal;
    color : #fff;

    text-align: center;

    width : 350px;
    height: 100px;
}

.memberinfotable td {
    border: 1px solid #ccc;

    height: 10px;
    padding : 10px;

    font-size:13px;

    text-align: left;
}
/* ---------------- */

/* ----- 아이디 찾기, 비밀번호 찾기 ----- */
.findidtable td {
    border:1px solid #ccc;
}

.findidtable td:first-child {
    width:60px;
    background-color: #f5f5f5;
}


/* ---------------- */

/* ----- 프로필 ----- */
.registertable td {
    text-align: left;
}
/* ---------------- */

/* ----- 비밀글 ----- */
.check_article_pw {
    display: flex;
    justify-content : center;
    align-items: center;
    height:80vh;
}

/* ---------------- */
/* ----- 기본 엘리먼트 ----- */
pre {
    white-space: pre-wrap;
    word-wrap:break-world;
}

a {
    text-decoration:none;
}

a:visited {
    color: inherit;
}
/* ---------------- */

/* ----- footer ----- */
footer {
    padding: 30px;
    text-align: center;
    margin-top: auto;
    width: 100%;
}
/* ---------------- */

